* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 20px 30px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.subtitle {
  font-size: 20px;
  color: #666;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.5;
}

.title span {
  background-image: linear-gradient(to bottom, #7F00FF, #00C3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 30px;
}

/* Gradient border wrapper */
.card-border {
  padding: 3px;
  border-radius: 18px;
  background: linear-gradient(to bottom, #7F00FF, #00C3FF);
}

/* Inner card */
.card {
  width: 320px;
  padding: 40px 30px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none; /* Remove standard border */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.icon {
  font-size: 40px;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.4;
}

button {
  padding: 10px 20px;
  border: 2px solid #0b0a0c;
  border-radius: 999px;
  background-color: #f5f5f5;
  color: #000;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #080808;
  color: #fff;
  border-color: #0b0913;
}

.footer {
  font-size: 15px;
  color: #555;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

  
  .copyright {
    font-size: 13px;
    font-weight: bold;
    color: #999;
    margin-top: 14px;
  }
  
